@font-face {
  font-family: "Montserrat";
  src: url(../fonts/montserrat/Montserrat-VariableFont_wght.ttf) format("ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
}

ul, li {
  list-style-type: none;
  padding-inline-start: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-color: #D3D5D4;
  font-family: Montserrat, sans-serif;
  color: #272023;
  scroll-behavior: smooth;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 2.81rem clamp(1.22rem, 6vw, 6.25rem);
}
.header-wrapper .header-logo {
  display: block;
  flex-shrink: 1;
}
.header-wrapper .header-logo img {
  width: clamp(75px, 100%, 206px);
}
.header-wrapper .nav-menu {
  display: flex;
  gap: 3.5rem;
  margin-left: 3rem;
}
.header-wrapper .nav-menu .nav-link {
  font-size: 1.5rem;
  white-space: nowrap;
  padding-bottom: 0.3rem;
  position: relative;
}
.header-wrapper .nav-menu .nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.3rem;
  border-radius: 0.3rem;
  background-color: #A2C5AC;
  left: 0;
  bottom: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.header-wrapper .nav-menu .nav-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

@media screen and (max-width: 991px) {
  .header-wrapper .nav-menu {
    gap: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .header-wrapper {
    margin-block: 1.25rem;
  }
  .header-wrapper .nav-menu {
    gap: 1.62rem;
  }
  .header-wrapper .nav-menu .nav-link {
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .header-wrapper .nav-menu {
    gap: 1rem;
  }
}
footer {
  background-color: #9DB5B2;
  margin-top: auto;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0 2rem 0;
  gap: 2rem;
}
.footer-wrapper .footer-icon {
  font-size: 3rem;
  transition: transform 0.3s ease-in-out;
}
.footer-wrapper .footer-icon:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 767px) {
  .footer-wrapper {
    padding: 2rem 0 1rem 0;
    gap: 1.75rem;
  }
  .footer-wrapper .footer-icon {
    font-size: 2.5rem;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #9DB5B2;
  border-radius: 1.5rem;
  padding: 9rem 5rem;
  gap: 2rem;
}
.hero-avatar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  background-color: #878E99;
  width: 100%;
  max-width: 144px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  justify-self: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.hero-avatar img {
  width: 89%;
}
.hero-content {
  text-align: center;
}
.hero-content .hero-title {
  font-size: 3rem;
}
.hero-content .hero-intro {
  margin-top: 1.5rem;
  max-width: 60rem;
}
.hero-btn {
  display: block;
  background-color: #878E99;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@media screen and (max-width: 767px) {
  .hero {
    padding: 3rem 1.75rem;
  }
  .hero-content .hero-title {
    font-size: 2rem;
  }
}
.about {
  text-align: center;
  max-width: 50rem;
  margin-inline: auto;
}
.about-intro {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.about-picture {
  margin-inline: auto;
  display: block;
  background-color: #878E99;
  width: 100%;
  max-width: 11rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.about-intro-title {
  font-size: 3rem;
}
.about-intro-content p {
  padding: 0.875rem;
}
.about-cv {
  display: block;
  margin-inline: auto;
  background-color: #A2C5AC;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.about .about-skills:before {
  display: inline-block;
  content: "";
  width: 17rem;
  height: 0.5rem;
  background-color: #9DB5B2;
  border-radius: 0.62rem;
  margin-top: 3rem;
}
.about .skills-title {
  margin-block: 3rem;
}
.about .skills-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
.about .skills-list .skill-icon {
  font-size: 4rem;
}

@media screen and (max-width: 767px) {
  .about .skills-list {
    gap: 2rem;
  }
  .about .skills-list .skills-icon svg {
    font-size: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .about-intro-title {
    font-size: 2rem;
  }
  .about .skills-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .about .skills-list .skill-icon {
    font-size: 2rem;
  }
}
.projects {
  margin-inline: auto;
}
.projects-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3rem;
}
.projects-title:before {
  display: inline-block;
  content: "";
  width: 17rem;
  height: 0.5rem;
  background-color: #A2C5AC;
  border-radius: 0.62rem;
  margin-bottom: 3rem;
}
.projects-cards {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.projects .project {
  display: flex;
  align-items: center;
}
.projects .project img {
  aspect-ratio: 960/584;
  object-fit: cover;
  width: 40%;
  border-radius: 0.63rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.projects .project-info {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
}
.projects .project-info .project-title {
  margin-block: 1rem;
}
.projects .project-info .project-tags {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.projects .project-info .project-tag {
  background-color: #A2C5AC;
  padding: 0.5rem 0.75rem;
  border-radius: 1.5rem;
}
.projects .project-info .project-links {
  display: flex;
  gap: 1rem;
}
.projects .project-info .project-link {
  display: block;
  margin-inline: auto;
  margin-top: 1rem;
  background-color: #9DB5B2;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@media screen and (max-width: 1024px) {
  .projects-title {
    font-size: 2rem;
  }
  .projects .project {
    flex-direction: column;
  }
  .projects .project img {
    width: 100%;
  }
  .projects .project-info {
    margin-left: 0;
  }
  .projects .project-info .project-tags {
    gap: 0.875rem;
  }
  .projects .project-info .project-tag {
    font-size: 0.875rem;
  }
}
main {
  margin-inline: clamp(1.22rem, 6vw, 6.25rem);
}
main section {
  margin-bottom: 3rem;
}

/*# sourceMappingURL=main.css.map */
